.post {
    width: 100%;
    box-shadow: 3px 7px 13px -7px #65789f;
    border-radius: 10px;
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postUsername {
    font-size: 15px;
    font-weight: 550;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 20px;
    margin-right: 5px;
    object-fit: contain;
    cursor: pointer;
}
.postLikeCouneter{
    font-size: 15px;
}

.posrCenterText{
    cursor: pointer;
    border-bottom: gray 1px soild;
    font-size: 15px;
    margin-right: 3px;
}